/* Variables */

:root {
    --logo: #eff5f8;
    --text: #000916;
    --highlight: #eff5f8;
    --color-primary: #011f4b;
    --color-secondary: #03396c;
    --color-tertiary: #005b96;
    --color-quaternary: #6497b1;
    --button: #b3cde0;
    --background: #eff5f8;
    --shadow: #000916;
}


/* Reset */

* {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    vertical-align: baseline;
    font-size: 1.8vw;
}

body {
    background-color: var(--background);
    font-family: verdana;
}

.margin {
    padding-left: 6vw;
    padding-right: 6vw
}

.anchor {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 40vw;
    z-index: 998;
    gap: 10vw;
}


/* Menu */

.menu {
    align-items: center;
    background-color: var(--color-tertiary);
    box-shadow: var(--color-tertiary) 2px 2px 5px;
    display: flex;
    justify-content: space-around;
    min-height: 10vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.menu .logo {
    color: var(--logo);
    font-size: 3vw;
    font-weight: bold;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul a {
    border-radius: 1vw;
    color: var(--button);
    margin: 0 10px;
    padding: 0.5vw 2.5vw;
}

.highlight:hover {
    color: var(--highlight);
    transform: scale(1.1);
}


/* Profile */

#profile {
    background-color: var(--color-secondary);
    box-shadow: var(--color-secondary) 2px 2px 5px;
    margin-top: 10vw;
}

#profile .profile-picture {
    background-image: url("media/profile.avif");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    min-height: 30vw;
    margin-bottom: 2vw;
    outline: 2px solid var(--color-tertiary);
    min-width: 30vw;
}

#profile .intro {
    background-color: var(--color-tertiary);
    border-radius: 10px;
    padding: 3vw;
    text-align: justify;
    text-justify: inter-word;
}

#profile .intro h2 {
    margin-bottom: 1vw;
}

/* Skills */

#skills {
    background-color: var(--color-tertiary);
    box-shadow: var(--color-tertiary) 2px 2px 5px;
}

/* @media (max-width: 900px) {
    .menu {
        min-height: 15vw;
    }
}

@media (max-width: 500px) {
    .menu {
        min-height: 20vw;
    }
} */