/* Variables */
:root {
    --text: #000916;
    --color-primary: #011f4b;
    --color-secondary: #03396c;
    --color-tertiary: #005b96;
    --color-quaternary: #6497b1;
    --button: #b3cde0;
    --background: #eff5f8;
    --shadow: #000916;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: var(--background);
    font-family: Arial, sans-serif;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: space-between;
    min-height: 8vw;
    padding-left: 10vw;
    padding-right: 10vw;
    box-shadow: var(--color-tertiary) 2px 2px 5px;
    z-index: 999;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul a {
    margin: 0 10px;
    text-decoration: none;
    background-color: var(--button);
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--text);
    box-shadow: var(--shadow) 2px 2px 5px;
}

@media (max-width: 900px) {
    .menu {
        min-height: 15vw;
    }
}

@media (max-width: 500px) {
    .menu {
        min-height: 20vw;
    }
}